a{
    color: #ffcb3e;
    text-decoration: none;
}

*{
  margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

nav{
    background: #F60;
    height: 48px;
}

nav li{
    float: left;
    background: #000000;
    border-radius: 5px;/*设置边框圆角*/

    padding: 5px 10px;

    margin: 10px;

    list-style: none;
}

